.demo-login-button {
    background: none;
    color: white;
    border: 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.demo-icon {
    font-size: 22px;
    margin-top: 2px;
}
