#splash-pane {
    display: flex;
    color: #fff;
}

#splash-pane p {
    font-size: 16px;
    text-align: center;
}

a,button {
    cursor: pointer;
}

#splash-header {
    position: fixed;
    width: 100%;
    max-width: 1580px;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin: auto;
    margin-top: 10px;
}

#splash-header a {
    color: inherit;
    text-decoration: none;
}

#splash-header .header-link {
    padding: 5px 13px;
    height: 32px;
    font-weight: bold;
    border-radius: 4px;
    border: 0;
}

[href*="login"] .header-link {
    background-color: rgba(0,0,0,.09);
    color: #fff;
}

[href*="register"] .header-link {
    background-color: #fff;
    color: #444;
}

#splash-header > :first-child {
    padding-left: 20px;
}

#splash-header > :last-child {
    padding-right: 25px;
}

.slide-flexer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #001935;
    align-items: center;
    justify-content: space-around;
}

#splash-footer {
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 1.5%;
}

#splash-footer * {
    padding: 0 20px;
    text-align: left;
}

.splash-box {
    width: 300px;
}

.splash-box * {
    width: 100%;
}

.logo-char {
    font-family: $logo-char;
    font-size:   40px;
    text-align:  center;
    font-weight: bold;
}
