#splash-pane {
    display: flex;
    color: #fff;
}

p {
    font-size: 16px;
    text-align: center;
}

#splash-header {
    position: fixed;
    width: 100%;
    max-width: 1580px;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin: auto;
}

#splash-header > :last-child {
    padding-right: 25px;
}

.slide-flexer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #001935;
    align-items: center;
    justify-content: space-around;
}

#splash-footer {
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 1.5%;
}

#splash-footer * {
    padding: 0 20px;
    text-align: left;
}

#splash-box {
    width: 300px;
}

#splash-box * {
    width: 100%;
    padding: 0;
    height: 45px;
}

.logo-char {
    font-family: $logo-char;
    font-size:   40px;
    text-align:  center;
}
