#featured-pane {
    position: fixed;
    width: 200px;
    background-color: white;
    right: 10%;
}

.featured-accounts {
    display: flex;
    flex-direction: column;
}

.featured-user-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
