#feed {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $base-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#feed-index {
    display: flex;
    flex-direction: column;
    max-height: 80%;
}

.feed-index-item {
    margin-top: 10px;
    max-width: 500px;
}

.feed-index-item:first-of-type {
    margin-top: 0;
}

//could also just be :last-of-type
.feed-index-item:last-child {
    padding-bottom: 100px;
}

.feed-index-item p {
    color: gray;
}
