
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web,wght@1,300&display=swap');
@import 'icons.scss';

$logo-char: 'Arvo', serif;

$mspace-sans: 'Roboto Mono', monospace;
$number-weight: 'Nunito', sans-serif;
$likes-descriptor: 'Titillium Web', sans-serif;
