#splash-pane {
    display: flex;
}

#splash-header {
    position: fixed;
    width: 100%;
    max-width: 1795px;
    display: flex;
    justify-content: space-between;
    right: 0;
    margin: auto;
}

.logo-char {
    font-family: $logo-char;
    font-size:   40px;
    text-align:  center;
}

#splash-header > :last-child {
    padding-right: 25px;
}

.slide-flexer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

#splash-footer {
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 1.5%;
}

#splash-footer * {
    padding: 0 20px;
}

#splash-box button {
    width: 100%;
}
