
#post-placeholder-container {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#post-placeholder {
    font-size: 60px;
    font-family: $logo-char;
    animation: spin 5s linear infinite;
}

.bouncer {
    animation: bounce .5s ease infinite alternate;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes bounce {
    0% { transform: scale(.5) }
    100% { transform: scale(2) }
}
