#post-show {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $base-bg;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
}

.post-show-side {
    width: 300px;
}

.post-show-centerize {
    margin-top: 150px;
}
