.post-display {
    width: 500px;
    background-color: white;
    border-radius: 5px;
}

.post-header {
    width: 100%;
    border-bottom: $post-border;
    display: flex;
    justify-content: space-between;
}

.post-etc {
    margin-right: 10px;
    height: 80%;
    align-self: center;
}

.post-properties {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
