.author-container {
    border-bottom: .5px groove rgba(128,128,128,30%);
}

.author-name {
    padding: 15px;
    padding-bottom: 12px;
    margin-left: 3px;
}

.post-content {
    padding: 30px;
    padding-top: 15px;
}
