.post-display {
    width: 500px;
    background-color: white;
    border-radius: 5px;
}

.post-header {
    width: 100%;
    border-bottom: $post-border;
    display: flex;
    justify-content: space-between;
}

.post-etc {
    margin-right: 10px;
    height: 80%;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.post-like-button {
    background: $blue-button;
    border-radius: 4px;
    border: none;
}

.post-properties {
    display: flex;
    justify-content: space-between;
}
