
.author-container {
    border-bottom: $post-border;
}

.author-name {
    padding: 15px;
    padding-bottom: 12px;
    margin-left: 3px;
}

.post-content {
    padding: 30px;
    padding-top: 15px;
}

.post-properties {
    display: flex;
    align-items: center;
    border-top: $post-border;
    justify-content: space-between;
    padding: 8px 24px;
}

.post-show-side {
    width: 300px;
}

.post-show-side {
    background-image: linear-gradient(to left, $base-bg, rgba(0,0,0,20%));
}

.post-show-side:last-child {
    background-image: linear-gradient(to right, $base-bg, rgba(0,0,0,20%));
}
