.post-form-input-field {
    width: 110%;
    height: 125%;
    position: relative;
    left: -25px;
    top: -10px;
    font-size: 80px;
    border-radius: 5px;
    padding: 0px;
}

#post-form-content-field {
    border-radius: 3px;
    margin: 2px;
}
