#post-show {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $base-bg;
    display: flex;
    justify-content: space-between;
}

.post-show-centerize {
    margin: 100px 200px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
}

.post-show-side {
    width: 300px;
}
