
.author-container {
    border-bottom: $post-border;
}

.author-name {
    padding: 15px;
    padding-bottom: 12px;
    margin-left: 3px;
}

.post-content {
    padding: 30px;
    padding-top: 15px;
}

.post-properties {
    display: flex;
    align-items: center;
    border-top: $post-border;
    justify-content: space-between;
    padding: 8px 24px;
}
