#post-show {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(
            to right,
            $dark-bg  0%,
            $base-bg 15%,
            $base-bg 85%,
            $dark-bg 100%
        );
    display: flex;
    justify-content: space-around;
    overflow-y: auto;
}

.post-show-centerize>.post-display {
    margin-top: 150px;
    margin-bottom: 150px;
}
